<h3>Step3</h3>

@code {
	public async Task<bool> Submit()
	{
		//The result of viladation in this page should return
		return false;
		//Note: it can change the return value to "true" if go to the finish tab is desired 
	}
}
